# Directories
.cache/
.vs/
bin/
bin-int/
Binaries/
Feur/vendor/SDL2/SDL/Intermediate/
build/

# Files
*.user
*.obj
*.idb
*.pdb
*.tlog
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.sln
.clang
Makefiles
