[submodule "FeurEngine/vendor/glfw/GLFW"]
	path = FeurEngine/vendor/glfw/GLFW
	url = https://github.com/glfw/glfw
[submodule "FeurEngine/vendor/nuklear/Nuklear"]
	path = FeurEngine/vendor/nuklear/Nuklear
	url = https://github.com/Immediate-Mode-UI/Nuklear
[submodule "FeurEngine/vendor/VulkanSDK/VulkanMemoryAllocator"]
	path = FeurEngine/vendor/VulkanSDK/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator
[submodule "FeurEngine/vendor/Mathilda/Mathilda"]
	path = FeurEngine/vendor/Mathilda/Mathilda
	url = https://github.com/Maxodie/Mathilda
[submodule "FeurEngine/vendor/assimp/assimp"]
	path = FeurEngine/vendor/assimp/assimp
	url = https://github.com/assimp/assimp
